<tr>
  <td><%= element %></td>
  <td><%= number_to_currency(element.amount) %></td>
  <td><%= number_to_currency(element.users_share(current_user == element.owner ? user : current_user)) %></td>
</tr>
