<% @items.each do |item| %>
  <div class="selectable <%= @invoice.items.pluck(:id).include?(item.id) ? "selected" : ""%>" id="item<%= item.id %>">
    <%= link_to item.description, toggle_item_in_invoice_path(:item_id => item.id, :invoice_id => @invoice.id), :remote => true %>
  </div>
<% end %>
