/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #BDC3C7;
	font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header_text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);

	color: black;
	
}
a.header_links:link {
	color: black;
	text-decoration: none;
	background-color: #4183D7;
}
a.header_links:hover {
	color: black;
	text-decoration: underline;
	background-color: #4183D7;
}
a.header_links:visited {
	color: black;
	text-decoration: none;
	background-color: #4183D7;
}
.body {
	padding-top: 60px;
}

.header_left {
	width: 100%;
	height: 60px;
	
	position: fixed;
	top: 0px;
	left: 0px;
	
	background-color: #4183D7;
	box-shadow: 0px 2px 2px #888888;
}

.header_right {
	height: 60px;
	
	position: fixed;
	top: 0px;
	right: 0px;
	
	background-color: #4183D7;
	z-index: 1;
}

.group_area {
	background-color: #EEEEEE;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	padding: 5px;
	width: 90%;
	box-shadow: 2px 2px 2px #888888;
}

.selectable {
	background-color: #EEEEEE;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5px;
        padding: 5px;
        width: 90%;
        box-shadow: 2px 2px 2px #888888;
}

.selected {
	background-color: #2ECC71;
}

.big {
	font-size: 5vh;
}

.zoomed {
	zoom: 200%;
}

a.group_links:link {
	color: black;
	text-decoration: none;
	background-color: #EEEEEE;
}
a.group_links:hover {
	color: black;
	text-decoration: underline;
	background-color: #EEEEEE;
}
a.group_links:visited {
	color: black;
	text-decoration: none;
	background-color: #EEEEEE;
}

tr.table_header {
	background-color: #BDC3C7;
}
tr.odd_row {
	background-color: #EEEEEE;
}
tr.even_row {
	background-color: #DDDDDD;
}
td.numeric_field {
	text-align: right;
}
